/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #0d3ce6;
    --secondary: #111827;
    --background: #d7dadf;
    --text: #f8fafc;
    --button: #f82238;
    --button-hover: #c446f6;
}

body{
    overflow-x:hidden;
}